@import '../../variables.scss';

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    .coinNameContainer {
        display: flex;
        align-items: center;
        height: 3rem;
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
        h1 {
            padding: 0 1rem;
        }
        p {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.8rem;
            border: 1px solid $secondary_color;
            border-radius: 5px;
            padding: 5px;
            text-align: center;
        }
    }
    .otherData {
        border: 2px solid $secondary_color;
        border-radius: 1rem;
        padding: 0.5rem;
        margin: 0 1rem;
        h1 {
            display: flex;
            align-items: center;
            span {
                text-transform: uppercase;
                font-size: 0.8rem;
                border-radius: 5px;
                padding: 5px;
                margin-left: 1rem;
                text-align: center;
            }
        }
        .lowHigh {
            display: flex;
            .high {
                margin-left: 1rem;
            }
            span {
                font-weight: bold;
            }
        }
    }
    .converterContainer {
        border: 2px solid $secondary_color;
        border-radius: 1rem;
        padding: 0.5rem;
        .coinValue {
            border-bottom: 1px solid $secondary_color;
        }
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .symbol {
                text-transform: uppercase;
            }
            input {
                height: 1rem;
                width: 3rem;
                border: 1px solid $secondary_color;
                background: none;
                color: white;
                font-size: 1.2rem;
                padding: 0.5rem;
            }
        }
    }
    .chartContainer {
        grid-row: 2/4;
        grid-column: 1/3;
        height: 70vh;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            span {
                text-transform: uppercase;
                padding-left: 1rem;
            }
        }
    }
    .statsContainer {
        border: 2px solid $secondary_color;
        border-radius: 1rem;
        padding: 0.5rem;
        margin: 1rem 0;
        height: 100%;
        h3 {
            span {
                text-transform: uppercase;
            }
        }
        > div {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid $secondary_color;
            > p {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &.value {
                    font-weight: bold;
                    text-align: right;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
        .coinNameContainer {
            justify-content: center;
            margin: 1rem 0;
        }
        .otherData,
        .converterContainer,
        .statsContainer {
            margin: 1rem;
        }
    }
}
.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
